/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "materialize";

 img{
  width: 450px;
  display: block;
  margin: auto;
}

@font-face {
  font-family: 'clashFont';
  src: url('webfont.ttf')  format('truetype');
}

h2{
  /*font-family: 'Bungee Shade', cursive;*/
  text-align: center;
  font-family: 'clashFont';
}

h3{
  font-family: 'clashFont';
}

/*clash of clans logo in the top left corner*/
.home{
  width: 150px;
  position: absolute;
  left: -180px;
  top: 20px;
}

#button{
  display: block;
  margin: auto;
}
#twitter-row{
  text-align: center;
}
#clash{
  width: 300px;
  margin: auto;
  display: inline-block;
}

#supercell{
  width: 300px;
  margin: auto;
  display: inline-block;
  margin: 50px 50px 0px 50px;
}

.parallax {
  position: relative;
    /* The image used */
    background-image: url('http://www.onehiveclan.com/uploads/2/8/8/6/28864503/wiz_bunny_hd.jpg');

   /*http://www.onehiveclan.com/uploads/2/8/8/6/28864503/wiz_bunny_hd.jpg*/
    /* Full height */
    min-height: 300px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



body, html {
    height: 100%;
}


.parallax2 {
  position: relative;
    /* The image used */
    background-image: url('http://www.onehiveclan.com/uploads/2/8/8/6/28864503/wiz_bunny_hd.jpg');

    /* Full height */
    min-height: 300px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.gob{
  margin-top:-15px;
}

img {
  width: 65%;
  display: block;
  margin: auto;
  margin-bottom: -30px;
  margin-top: -30px;
}


#character {
  width: 65%;
  display: block;
  margin: auto;
  margin-bottom: -30px;
  margin-top: -45px;
}

#league{
  width:80px;
  display: inline;
  vertical-align:middle;
}
#XP{
  width: 30px;
  display: inline;
  vertical-align:middle;
}

h1, h3, h5{
  font-family: clashfont;
  opacity: 1;
  padding: 15px;
}
.info-badge {

display: block;
position: relative;
width: 100%;
border: 1px solid #CCC;
border-radius: 4px;
padding-top: 8px;
margin-top: 5px;
z-index: 1;
padding-left: 5px;
padding-right: 5px;
}

.row {
  text-align: center;
  font-weight: bold;
}

.icon{
  width: 100px;
  /*margin: -22px;*/
  margin: 20px;
  border-style: solid;
  border-width: 5px;
  border-radius: 90%;
}

.row .col{
  padding: 0;
  position: relative;
}

.level{
  position: absolute;
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  left: 0;
  right: 0;
  top: 32%;
  margin-left: auto;
  margin-right: auto;
}

.slider .slides {
   background-color: none;
   margin: 0;
   height: 400px;
}

.white .slider .slides li img {
    height: 110%;
    width: 100%;
    background-position: center;
    background-size:100% auto;
    background-repeat: no-repeat;
}

.slider .indicators .indicator-item {
  background-color: #666666;
  border: 3px solid #ffffff;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.slider .indicators .indicator-item.active {
  background-color: #ffffff;
}
.slider .indicators {
  bottom: 60px;
  z-index: 100;
}

.slider{
  color: black;
  text-shadow:
    5px 5px 0 #000,
  -1px -1px 0 #000,
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
}

.slides img{
  filter: brightness(80%) contrast(70%);

}


html.active, .white.active{
  background-color: black !important;
}
h1.active,h2.active,h3.active,h4.active,h5.active{
  color: white;
}

.parallax.active, .parallax2.active{
  background-image: url('https://i.imgur.com/rcJkFxF.jpg');
}

#pic2{
  width: 100%;
  margin-top: 5px;

}
